In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv", index_col=False)
df.head(10)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
5,6,Female,24,1,33.0,0,< 1 Year,Yes,2630.0,160.0,176,0
6,7,Male,23,1,11.0,0,< 1 Year,Yes,23367.0,152.0,249,0
7,8,Female,56,1,28.0,0,1-2 Year,Yes,32031.0,26.0,72,1
8,9,Female,24,1,3.0,1,< 1 Year,No,27619.0,152.0,28,0
9,10,Female,32,1,6.0,1,< 1 Year,No,28771.0,152.0,80,0

In [4]:
#So Here we are renaming the columns 

col = []

for columns in (df.columns):
   col.append(columns.lower())

df.columns = col

In [5]:
df = df.drop(columns=['id'])

In [6]:
df.head(5)

,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response
0,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [7]:
df["gender"] = df["gender"].map({'Male': 1, 'Female':0})
df['vehicle_age'] = df['vehicle_age'].map({'1-2 Year': 1, '< 1 Year': 0 ,'> 2 Years':2 })
df['vehicle_damage'] = df['vehicle_damage'].map({'Yes': 1, 'No':0})

In [8]:
df.head(10)

,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response
0,1,44,1,28.0,0,2,1,40454.0,26.0,217,1
1,1,76,1,3.0,0,1,0,33536.0,26.0,183,0
2,1,47,1,28.0,0,2,1,38294.0,26.0,27,1
3,1,21,1,11.0,1,0,0,28619.0,152.0,203,0
4,0,29,1,41.0,1,0,0,27496.0,152.0,39,0
5,0,24,1,33.0,0,0,1,2630.0,160.0,176,0
6,1,23,1,11.0,0,0,1,23367.0,152.0,249,0
7,0,56,1,28.0,0,1,1,32031.0,26.0,72,1
8,0,24,1,3.0,1,0,0,27619.0,152.0,28,0
9,0,32,1,6.0,1,0,0,28771.0,152.0,80,0

In [18]:

for count in df.columns:
    print("----------------------------------")
    print(f"count of each columns : \n{df[count].value_counts()}")
    print("----------------------------------")

----------------------------------
count of each columns :
gender
1    206089
0    175020
Name: count, dtype: int64
----------------------------------
----------------------------------
count of each columns :
age
24    25960
23    24256
22    20964
25    20636
21    16457
      ...
81       56
82       29
83       22
84       11
85       11
Name: count, Length: 66, dtype: int64
----------------------------------
----------------------------------
count of each columns :
driving_license
1    380297
0       812
Name: count, dtype: int64
----------------------------------
----------------------------------
count of each columns :
region_code
28.0    106415
8.0      33877
46.0     19749
41.0     18263
15.0     13308
30.0     12191
29.0     11065
50.0     10243
3.0       9251
11.0      9232
36.0      8797
33.0      7654
47.0      7436
35.0      6942
6.0       6280
45.0      5605
37.0      5501
18.0      5153
48.0      4681
14.0      4678
39.0      4644
10.0      4374
21.0      4266
2.0       4038
13.0      4036
7.0       3279
12.0      3198
9.0       3101
27.0      2823
32.0      2787
43.0      2639
17.0      2617
26.0      2587
25.0      2503
24.0      2415
38.0      2026
0.0       2021
16.0      2007
23.0      1960
31.0      1960
20.0      1935
49.0      1832
4.0       1801
34.0      1664
19.0      1535
22.0      1309
40.0      1295
5.0       1279
1.0       1008
44.0       808
42.0       591
52.0       267
51.0       183
Name: count, dtype: int64
----------------------------------
----------------------------------
count of each columns :
previously_insured
0    206481
1    174628
Name: count, dtype: int64
----------------------------------
----------------------------------
count of each columns :
vehicle_age
1    200316
0    164786
2     16007
Name: count, dtype: int64
----------------------------------
----------------------------------
count of each columns :
vehicle_damage
1    192413
0    188696
Name: count, dtype: int64
----------------------------------
----------------------------------
count of each columns :
annual_premium
2630.0     64877
69856.0      140
39008.0       41
45179.0       38
38287.0       38
           ...
48221.0        1
77831.0        1
18575.0        1
58084.0        1
17560.0        1
Name: count, Length: 48838, dtype: int64
----------------------------------
----------------------------------
count of each columns :
policy_sales_channel
152.0    134784
26.0      79700
124.0     73995
160.0     21779
156.0     10661
          ...
149.0         1
43.0          1
144.0         1
143.0         1
41.0          1
Name: count, Length: 155, dtype: int64
----------------------------------
----------------------------------
count of each columns :
vintage
256    1418
73     1410
282    1397
158    1394
187    1392
       ...
205    1235
89     1234
32     1230
224    1227
277    1226
Name: count, Length: 290, dtype: int64
----------------------------------
----------------------------------
count of each columns :
response
0    334399
1     46710
Name: count, dtype: int64
----------------------------------

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                381109 non-null  int64
 1   age                   381109 non-null  int64
 2   driving_license       381109 non-null  int64
 3   region_code           381109 non-null  float64
 4   previously_insured    381109 non-null  int64
 5   vehicle_age           381109 non-null  int64
 6   vehicle_damage        381109 non-null  int64
 7   annual_premium        381109 non-null  float64
 8   policy_sales_channel  381109 non-null  float64
 9   vintage               381109 non-null  int64
 10  response              381109 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 32.0 MB

In [20]:
df.describe()

,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,0.540761,38.822584,0.997869,26.388807,0.458210,0.609616,0.504877,30564.389581,112.034295,154.347397,0.122563
std,0.498336,15.511611,0.046110,13.229888,0.498251,0.567439,0.499977,17213.155057,54.203995,83.671304,0.327936
min,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,0.000000,25.000000,1.000000,15.000000,0.000000,0.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,1.000000,36.000000,1.000000,28.000000,0.000000,1.000000,1.000000,31669.000000,133.000000,154.000000,0.000000
75%,1.000000,49.000000,1.000000,35.000000,1.000000,1.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,1.000000,85.000000,1.000000,52.000000,1.000000,2.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [27]:
(df["driving_license"].value_counts()/df.shape[0])*100

driving_license
1    99.786938
0     0.213062
Name: count, dtype: float64

In [26]:
df.shape

(381109, 11)